# Explore here

In [ ]:
import pandas as pd
df= df = pd.read_csv('../data/raw/Latest_Data_Science_Salaries.csv')
df

In [ ]:
df.info()

In [ ]:
df = df.drop(['Salary', 'Salary Currency'], axis=1)

In [ ]:
df

In [ ]:
df['Experience Level'].unique()

In [ ]:
import matplotlib.pyplot as plt

agrupado = df.groupby('Experience Level')['Salary in USD'].mean().reset_index()
valores_x = agrupado['Experience Level']
valores_y = agrupado['Salary in USD']

plt.figure(figsize=(10, 12))
plt.bar(x=valores_x, height=valores_y)

plt.xlabel('Nivel de Experiencia')
plt.ylabel('Salario Promedio en USD')
plt.title('Salario Promedio por Nivel de Experiencia')

plt.show()

In [ ]:
dic={
    'Entry':0,
    'Executive':1,
    'Mid':2,
    'Senior':3
}

In [ ]:
df["Experience Level"].replace(dic,inplace=True)
df

In [ ]:
df['Employment Type'].unique()

In [ ]:
df.groupby('Employment Type')['Salary in USD'].mean().plot.bar()

In [ ]:
dic_et={'Part-Time':0,'Full-Time':1,'Freelance':2,'Contract':3}

In [ ]:
df['Company Size'].unique()

In [ ]:
df.groupby('Company Size')['Salary in USD'].mean().plot.bar()

In [ ]:
dic_cs={'Small':0, 'Large':1, 'Medium':2}

In [ ]:
df['Employment Type'].replace(dic_et, inplace=True)
df['Company Size'].replace(dic_cs, inplace=True)
df

In [ ]:
df['employee_residence_num'], unique_values=pd.factorize(df['Employee Residence'])
df

In [ ]:
unique_values

In [ ]:
dic_er=dict(enumerate(unique_values))
dic_er

In [ ]:
#con esta formula ya me arroja los valores ya numerados en el diccionario
dic_er={valor:codigo for codigo,valor in dic_er.items()}
dic_er

In [ ]:
df['Company Location_num'], unique_values=pd.factorize(df['Company Location'])
dic_cl=dict(enumerate(unique_values))
dic_cl={valor:codigo for codigo, valor in dic_cl.items()}
dic_cl

In [ ]:
df

In [ ]:
#eliminamos columnas que no estan factorizadas y no nececitamos
df.drop(['Company Location','Employee Residence','Job Title','Expertise Level'],axis=1, inplace=True)

In [ ]:
x=df.drop(['Salary in USD'],axis=1)
y=df['Salary in USD']

from sklearn.model_selection import train_test_split

x_train,x_test, y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

x_train

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn.metrics import root_mean_squared_error
from sklearn.metrics import r2_score

model1 = RandomForestRegressor(random_state=42)
model2 = XGBRegressor()

model1.fit(x_train, y_train)
model2.fit(x_train, y_train)  

y_pred1 = model1.predict(x_test)
y_pred2 = model2.predict(x_test) 

print(f'rmse modelo 1: {root_mean_squared_error(y_test, y_pred1)} r2: {r2_score(y_test, y_pred1)}')
print(f'rmse modelo 2: {root_mean_squared_error(y_test, y_pred2)} r2: {r2_score(y_test, y_pred2)}')

In [ ]:
model2.save_model('../xgboost_model.json')

In [ ]:
import json

with open('../data/processed/dic_cl.json', 'w', encoding='utf-8') as archivo:
    json.dump(dic_cl, archivo, ensure_ascii=False, indent=4)  # company location

with open('../data/processed/dic.json', 'w', encoding='utf-8') as archivo:
    json.dump(dic, archivo, ensure_ascii=False, indent=4)  # experience level

with open('../data/processed/dic_et.json', 'w', encoding='utf-8') as archivo:
    json.dump(dic_et, archivo, ensure_ascii=False, indent=4)  # employment type

with open('../data/processed/dic_er.json', 'w', encoding='utf-8') as archivo:
    json.dump(dic_er, archivo, ensure_ascii=False, indent=4)  # employee residence

with open('../data/processed/dic_cs.json', 'w', encoding='utf-8') as archivo:
    json.dump(dic_cs, archivo, ensure_ascii=False, indent=4)  # company size

In [312]:
x_train.columns

Index(['Employment Type', 'Experience Level', 'Company Size', 'Year',
       'employee_residence_num', 'Company Location_num'],
      dtype='object')