# Explore here

In [4]:
import pandas as pd
df= df = pd.read_csv('../data/raw/Latest_Data_Science_Salaries.csv')
df

,Job Title,Employment Type,Experience Level,Expertise Level,Salary,Salary Currency,Company Location,Salary in USD,Employee Residence,Company Size,Year
0,Data Engineer,Full-Time,Senior,Expert,210000,United States Dollar,United States,210000,United States,Medium,2023
1,Data Engineer,Full-Time,Senior,Expert,165000,United States Dollar,United States,165000,United States,Medium,2023
2,Data Engineer,Full-Time,Senior,Expert,185900,United States Dollar,United States,185900,United States,Medium,2023
3,Data Engineer,Full-Time,Senior,Expert,129300,United States Dollar,United States,129300,United States,Medium,2023
4,Data Scientist,Full-Time,Senior,Expert,140000,United States Dollar,United States,140000,United States,Medium,2023
...,...,...,...,...,...,...,...,...,...,...,...
3295,Data Scientist,Full-Time,Senior,Expert,412000,United States Dollar,United States,412000,United States,Large,2020
3296,Principal Data Scientist,Full-Time,Mid,Intermediate,151000,United States Dollar,United States,151000,United States,Large,2021
3297,Data Scientist,Full-Time,Entry,Junior,105000,United States Dollar,United States,105000,United States,Small,2020
3298,Business Data Analyst,Contract,Entry,Junior,100000,United States Dollar,United States,100000,United States,Large,2020
3299,Data Science Manager,Full-Time,Senior,Expert,7000000,Indian Rupee,India,94665,India,Large,2021

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3300 entries, 0 to 3299
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Job Title           3300 non-null   object
 1   Employment Type     3300 non-null   object
 2   Experience Level    3300 non-null   object
 3   Expertise Level     3300 non-null   object
 4   Salary              3300 non-null   int64
 5   Salary Currency     3300 non-null   object
 6   Company Location    3300 non-null   object
 7   Salary in USD       3300 non-null   int64
 8   Employee Residence  3300 non-null   object
 9   Company Size        3300 non-null   object
 10  Year                3300 non-null   int64
dtypes: int64(3), object(8)
memory usage: 283.7+ KB

In [6]:
df = df.drop(['Salary', 'Salary Currency'], axis=1)

In [7]:
df

,Job Title,Employment Type,Experience Level,Expertise Level,Company Location,Salary in USD,Employee Residence,Company Size,Year
0,Data Engineer,Full-Time,Senior,Expert,United States,210000,United States,Medium,2023
1,Data Engineer,Full-Time,Senior,Expert,United States,165000,United States,Medium,2023
2,Data Engineer,Full-Time,Senior,Expert,United States,185900,United States,Medium,2023
3,Data Engineer,Full-Time,Senior,Expert,United States,129300,United States,Medium,2023
4,Data Scientist,Full-Time,Senior,Expert,United States,140000,United States,Medium,2023
...,...,...,...,...,...,...,...,...,...
3295,Data Scientist,Full-Time,Senior,Expert,United States,412000,United States,Large,2020
3296,Principal Data Scientist,Full-Time,Mid,Intermediate,United States,151000,United States,Large,2021
3297,Data Scientist,Full-Time,Entry,Junior,United States,105000,United States,Small,2020
3298,Business Data Analyst,Contract,Entry,Junior,United States,100000,United States,Large,2020
3299,Data Science Manager,Full-Time,Senior,Expert,India,94665,India,Large,2021

In [9]:
df['Experience Level'].unique()

array(['Senior', 'Mid', 'Executive', 'Entry'], dtype=object)